<nav class="navbar navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-start">
    <div>
      <a class="navbar-brand" href="/">PetuniaVet</a>
    </div>
    <div>
      <a class="nav-link me-3" href="/petOwnerList">Dueños</a>
    </div>
    <div>
      <a class="nav-link me-3" href="/petList">Mascotas</a>
    </div>
    <div>
      <a class="nav-link me-3" href="/doctorList">Doctores</a>
    </div>
    <div>
      <a class="nav-link me-3" href="/prescriptionList">Prescripciones</a>
    </div>
  </div>
    
    
</nav>

<div class="container py-5">
    <router-outlet/>
</div>

