<h1 class="mb-5">Citas</h1>

<div class="text-end my-3">
    <button class="btn btn-primary" routerLink="newAppointment">
        Nueva cita
    </button>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>Dia y hora</th>
            <th>Dueño</th>
            <th>Numero de contacto</th>
            <th>Prescripcion</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @for (appointment of appointments; track appointment.id) {
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.dayAndHour }}</td>
                <td>{{ appointment.petOwner.name + " " + appointment.petOwner.lastName }}</td>
                <td>{{ appointment.petOwner.cellphone }}</td>
                <td><a [routerLink]="[appointment.prescription.id, 'detailsPrescription']" class="btn btn-secondary">Ver</a></td>
                <td>
                    <div class="text-end">
                        <button class="btn btn-danger" (click)="deleteAppointment(appointment)">
                            Eliminar
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
